<section class="section1">
  <h1 class="h1">Prueba premium gratis 3 meses</h1>
  <h2 class="section1__subtitle">
    Escucha millones de canciones sin anuncios, a la carta y sin conexion.
  </h2>
  <a class="section1__link" href="#">Ver planes</a>
  <p >
    Rigen terminos y condiciones. Los tres meses gratis no están
    disponibles para usuarios que hayan probado Premium.
  </p>
</section>
<section class="section2">
  <h2 class="section2__subtitle">¿Por qué pasarte a premium?</h2>
  <article class="options">
        <img class="icons" src="./images/icono-clave.png" />
        <div class="section2__text">
        <h4>descarga musica.</h4>
       
        <p>llevala siempre contigo</p>
  </div>
      </article>
      <article class="section2__options">
        <img class="section2__icon" src="./images/icono-exclamacion.png" />
        <div class="section2__text">
        <h4>Sin anuncios.</h4>

        <p>Disfruta de música sin interrupciones</p>
        </div>
      </article>
      <article class="section2__options">
        <img class="section2__icon" src="./images/icono-musica.png" />
        <div class="section2__text">
        <h4>escucha lo que quieras.</h4>
        <p>incluso en el movil</p>
        </div>
      </article>
      <article class="section2__options">
        <img class="section2__icon" src="./images/icono-play.png" />
        <div class="section2__text">
        <h4>Salta todas las canciones que quieras</h4>
        <p>Simplemente dale a siguiente</p>
        </div>
      </article>
    </article>
  </div>
</section>