:root {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header_container {
  display: flex;
  justify-content: space-between;
  color: white;
  align-content: center;
  width: 100%;
  padding: 0 1em;
}
.logo-spotify {
  width: auto;
  height: 60px;
  align-items: center;
  display: flex;
}
.icon_hamburguer {
  width: 60px;
  height: 60px;
  color: white;
  align-items: center;
  display: flex;
}
.section-1 {
  background-color: rgb(64, 115, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  padding: 20px;
}
.h2-blue {
  width: 80%;
}
.h2-white {
  text-align: center;
  width: 60%;
  padding-left: 80px;
}
.show-plans {
  color: white;
  background-color: rgb(59, 168, 59);
  border-radius: 20px;
  padding-top: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
.section-2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.options {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  width: 70px;
  height: 100px;
}
.footer {
  padding: 20px;
  background-color: rgb(64, 115, 224);
  display: flex;
  justify-content: space-between;
}
.grupo-enlaces {
  list-style: none;
  text-decoration: none;
}
.spain__spotify {
  display: flex;
  flex-direction: column-reverse;
}

@media all and (min-width: 480px) and (max-width: 1000px) {
  .section-1 {
    background-image: url(/images/premium_dancer.png);
  }
  .show-plans {
    padding-top: 10px;
    width: 100px;
    height: 30px;
  }
}
@media all and (min-width: 1000px) {
  .section-1 {
    background-image: url(/images/premium_dancer.png);
  }
}
